.section_programing{
    width:100%;
    background: linear-gradient(to bottom left, rgba(255,255,255,0) 50%, #F0F0F0 50%) no-repeat bottom left/100% 100%;
    margin-top:40px;
}
.h2_1{
    margin: 0 auto;
    width: 77.34%;
    font-size:10rem;
    text-align: left;
    word-break: break-all;
    padding: 40px 0 80px 0;
    color:#9f9fa0;
    font-family: Arial Bold;
    display:flex;align-items: center;
}
.h2_1:after{
    margin-left: 2rem;
    border-top:4px solid #9f9fa0;
    content:""; flex-grow:1;}

.h2_2{
    margin: 0 auto;
    width: 77.34%;
    font-size:9rem;
    text-align: right;
    word-break: break-all;
    padding: 140px 0 80px 0;
    color:#9f9fa0;
    font-family: Arial Bold;
    display:flex;align-items: center;
}

.h2_2:before{
    margin-right: 2rem;
    border-top:4px solid #9f9fa0;
    content:""; flex-grow:1;
}
section h3{
    margin: 0 auto;
    width: 77.34%;
    font-size:2.6rem;
    text-align: left;
    word-break: break-all;
    padding-bottom: 40px;
    line-height: 3rem;
}
section h3 .line{
    font-size:2.4rem;
    padding: 0 10px;
    font-family: Arial Bold;
    border-left:solid 10px;
    border-color: #717071;
    color:#717071;
}
section h3 .h3_eng{
    font-size:2.2rem;
    padding-top:10px;
    font-family: Arial Bold;
    color:#717071;
}
section p{
    margin: 0 auto;
    line-height: 1.5;
    width: 77.34%;
    font-size:1.8rem;
    text-align: justify;
    padding-bottom: 10px;
}
section .p_eng{
    margin: 0 auto;
    line-height: 1.5;
    width: 77.34%;
    font-size:1.8rem;
    text-align: justify;
    padding-bottom: 40px;
    color: #717071;
}

.list{
    margin: 0 auto;
    line-height: 1.5;
    width: 77.34%;
    font-size:1.8rem;
    padding-bottom: 0px;
    text-align: center;
    display: block;
}
.list_eng{
    color: #717071;
}

section ul{
    padding-left: 20px;
    list-style-type: disc;
    display: inline-block;
    margin-bottom:80px;
}

section ul li{
    text-align: justify;
}

.list_2{
        margin: 0 auto;
        line-height: 1.5;
        width: 77.34%;
        font-size:1.8rem;
        padding-bottom: 40px;
        display: block;
    }

.list_2 ol{
        padding-left: 20px;
        list-style-type: none;
        margin-bottom:0px;
        text-align: center;
    }

.list_2 ol li{
        text-align: center;
    }
section p .p_line{
    font-size:1.8rem;
    padding: 0 10px;
    font-family: Arial Bold;
    border-left:solid 4px;
    border-color: #717071;
    color:#717071;
}
.sc{
    margin: 0 auto;
    padding: 0 11.3% 30px;
}
.p_margin{
    padding-left:5.05%;
}

.botton{
    width:5.05%;
    margin: 0 auto;
    text-align: center;
    padding:0 0 40px 0;
}
/* responsive */
@media screen and (max-width: 680px){
    .h2_1{
    margin: 0 auto;
    width: 87.5%;
    font-size:4.5rem;
    text-align: left;
    padding:20px 0;
    color:#9f9fa0;
    font-family: Arial Bold;
    }

    .h2_1:after{
    margin-left: 1rem;
    border-top:4px solid #9f9fa0;
    content:""; flex-grow:1;
    }

    .h2_2{
    margin: 0 auto;
    width: 87.5%;
    font-size:4.5rem;
    text-align: right;
    word-break: break-all;
    padding: 20px 0;
    color:#9f9fa0;
    font-family: Arial Bold;
    }

    .h2_2:before{
    margin-right: 1rem;
    border-top:4px solid #9f9fa0;
    content:""; flex-grow:1;
    }
    section h3{
    margin: 0 auto;
    line-height: 2.8rem;
    width: 87.5%;
    font-size:2rem;
    text-align: justify;
    word-break: break-all;
    padding-bottom: 20px;
    }
    section h3 .line{
    font-size:2rem;
    padding: 0 10px;
    font-family: Arial Bold;
    border-left:solid 10px;
    border-color: #717071;
    color:#717071;
    }
    section p{
        margin: 0 auto;
        line-height: 2.5rem;
        width: 87.5%;
        font-size:1.8rem;
        text-align:left;
        padding-bottom: 10px;
    }
    section .p_eng{
    margin: 0 auto;
    line-height: 2.5rem;
    width: 87.5%;
    font-size:1.8rem;
    padding-bottom: 20px;
    color: #717071;
    text-align: left;
    letter-spacing:0.1rem;
    }
    .list{
    padding-bottom: 0px;
    }
    .list_2{
    padding-bottom: 20px;
    }
    section ul{
    margin-bottom: 0;
    padding-bottom:20px;
    }
    .botton{
    width:15.63%;
    margin: 0 auto;
    text-align: center;
    padding:40px 0;
    }
    .sc{
    margin: 0 auto;
    max-width: 85%;
    padding: 0 7.5% 20px;
    }
}
